body {
  font-size: 16px;
  color: black;
  background-color: white;
 }

/** HEADER **/
#header-nav {
  background-color: grey;
}

/*h1 {
    
    font-size: 1.75em;
    color: black;
}
*/
h1 { /* Restaurant name */
  color: black;
  font-size: 1.75 em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

/*#nav-list {
  margin-top: 5px;
}*/

#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}


/* END HEADER */


/* HOME PAGE */
section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section p {
    padding: 0 6px 4px 6px;
}

/********** Large devices only **********/

/********** Medium devices only **********/

/********** Small devices only **********/
@

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  
  /* End Header */
  
  /* Home page */
 

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



